$color-primary-1: #A039EF;
$color-primary-2: #9EEEEE;

$color-red: rgb(182, 52, 52);
$color-red-lightened: rgb(238, 73, 73);

$color-white: #fff;
$color-grey-light: #8c8c8c;

$color-background-1: #fff;
$color-background-2: #f8f8f8;
$color-background-dark-1: #0e0d13;
$color-background-dark-2: #02102b;

$color-alert-success-border: rgb(58, 165, 63);
$color-alert-success-background: rgba(53, 214, 61, 0.4);
$color-alert-failure-border: rgb(182, 52, 52);
$color-alert-failure-background: rgba(255, 103, 82, 0.405);

$color-validator-allowed: rgb(58, 165, 63);
$color-validator-disallowed: rgb(182, 52, 52);

$color-footer: #0d4c73;

$box-border-radius: 15px;
$box-border-color: rgba(208, 208, 208, 0.4);
$box-shadow: 0 0 1px 3px rgba(209, 209, 209, 0.2);

$button-border-radius: 25px;

$navbar-height: 60px;


$additional-color-red: #d1254d;
$additional-color-blue: #2575d1;
$additional-color-yellow: #ffa723;
$additional-color-pink: #f867a1;